<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p>Copyright &copy; El Ghamry Projects</p>
            <div class="social-media-icons">
                <a href="#"><i class="fa fa-btc>"></i></a>
                <a href="#"><i class="fa fa-visa>"></i></a>
                <a href="#"><i class="fa fa-paypal>"></i></a>
                <a href="#"><i class="fa fa-facebook-official>"></i></a>
            </div>
        </div>
    </div>
</footer>